.confirmation-dialog {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .confirmation-dialog-content {
    background: #fff;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
  }
  
  .confirmation-dialog-content h4 {
    margin-bottom: 20px;
  }
  
  .confirmation-dialog-content button {
    margin: 5px;
  }
  